

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
    font-size: 13px;
    font-family: arial,sans-serif;
}

header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #EBEBEB;
}
    .header_main_part{
        display: table;
        width: 100vw;
    }

footer {
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
}

.centered_container {
    margin-left: 150px;
    width: 632px;
}
.main_body_element, .footer_element {
    padding-left: 16px;
    padding-right: 16px;
}
.bottom_goooogle_links{
    width: 30px; /*à modifier*/
    margin: auto;
}
.related_search_links{
    display: inline-block;
    margin-right: 24px;
}
.header_main_element {
    height: 50px;
    margin-top: 15px;
}
.header_google_logo_lnk{
    width: 120px;
    line-height: 43px;
    height: 44px;
    display: inline-block;
    margin-left: 13px;
    margin-right: 17px;
    float: left;
}
.header_settings_links{
    display: inline-block;
    float: right;
    padding-right: 30px;
    padding-left: 30px;
}
.header_settings_links li{
    margin: 0 10px;
}
.header_research_bar{
    position: absolute;
    display: inline-block;
    left: 150px;
    top: 0;
    margin-left: 0;
}
.header_research_links{
    display: inline-block;
}
.links_list li{
    display: inline-block;
}
.header_research_links_subs{
    float: right;
}

/* */
.number_of_results{
    line-height: 43px;
}

.google_result{
    margin-bottom: 26px;
}
.google_result dt, .google_result dd{
    display: inline;
}

.header_research_links li{
    padding: 28px 16px 12px 16px;
}
header a, footer a{
    text-decoration: none;
    color: #777;
}
header a:hover, footer a:hover{
    text-decoration: none;
    color: #222;
}
.link_current_results_type{
    border-bottom: 3px solid #4285F4;
    font-weight: bold;
    color:#4285F4;
}
.footer_links li{
    padding-left:14px;
    padding-right: 14px;
    line-height: 40px;
}
.footer_element .footer_first {
    padding-left:0px;
}
.footer_location {
    line-height: 40px;
    color: #AAA;
}

.google_result a, .related_search_links a {
    color:#1a0dab;
    text-decoration: none;
}
.google_result a:hover, .related_search_links a:hover {
    text-decoration: underline;
}
.google_result h1, .related_search h1 {
    font-size: 18px;
}
.google_result h2 {
    color: #006621;
    line-height: 16px;
}
.google_result h2::after {
    content: "   ▾"
}
.google_result dl{
    line-height: 16px;
}
.google_result dd{
    color: #545454;
}
.google_result dt:not(:empty)::after{
    content: " - "
}
.google_result dt{
    color:#808080;
}
.result_page_description .query_term{
    font-weight: bold;
}
.related_search_links li {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 14px;
}

.related_search .related_search_links ul {
    margin-right: 3em;
}
.related_search_links .query_term{
    font-weight: normal;
}
.related_search h1{
    padding-bottom: 20px;
    color: #222
}
.number_of_results{
    color:#808080;
    line-height: 43px;
    margin-bottom: 5px;
}
.footer_location::before{
    content: "⬤ ";
    font-size: 10px;
    line-height: 39px;
    padding-right: 3px;
    vertical-align: top;
    display: inline-block;
}
.header_research_bar span{
    box-shadow: 0px 2px 2px #EBEBEB;
    background-color: transparent;
    display: table;
    width: 100%;
    line-height: 44px;
    padding-left: 1em;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 2px;
    -webkit-transition-duration:450ms;
            transition-duration:450ms;
}
.header_research_bar span:hover{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
    -webkit-transition-duration:450ms;
            transition-duration:450ms;

}
#research{
    line-height: 44px;
    padding-left: 1em;
    background-color: transparent;;
    border: none;
    display: inline-block;
    width:560px;
    font-size: 16px;
}
#lense{
    background-color: transparent;
    border: none;
    float: right;
    display:inline-block;
    padding-right: 12px;
    height: 46px;
    vertical-align: middle;
}
